<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="/user/login" method="post">
        <label >Email</label>
        <input type="text" required name="email">
        <label >Password</label>
        <input type="text" required name="password">
        <button type="submit">submit</button>
    </form>
<form action="/signup" method="get">
        <h1>If new user</h1>
        <button type="submit">SignUp</button>
    </form>
</body>
</html>
